## Use this to fill in your .env

APP_DOMAIN= ## domain that will appear in the metamask popup. Required

MORALIS_API_KEY= ## moralis general api key 


NEXTAUTH_URL= http://localhost:3000  ## no need to specify this on production if deploying to vercel 
NEXTAUTH_SECRET= ## generate a secret

DATABASE_URL= ## postgres connection 

## these must change on deployment
JSON_DB_DATA='http://localhost:3000/static/admin/sheet.json'
COUNTRIES_URL='http://localhost:3000/static/admin/countries.json'
SHEET_DATA_NAME="sheet.json"

GOOGLE_SHEET_URL= ## 'https://sheets.googleapis.com/v4/spreadsheets/<sheet_id>?includeGridData=true&alt=json&key=<google_dev_key>'

PORT = 3000 ## only affects local development

ADMIN_TOKEN= ## token to ignore admin api restrictions, useful when using tools like postman 

SUBMISSION_PER_DAY = 3

ONE_SIGNAL_URL="https://onesignal.com/api/v1/notifications"
ONE_SIGNAL_APP_KEY=
ONE_SIGNAL_APP_ID=

## The base of your url. Used to send push notifications to users. Change when deployed
DOMAIN=http://localhost:3000 
