#*General
ADMIN_TOKEN=
PORT = 3000
SUBMISSION_PER_DAY = 10
NEXT_PUBLIC_DOMAIN=http://localhost:3000 

#*Auth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET=

#*DB
DATABASE_URL=postgresql:...

JSON_DB_DATA='http://localhost:3000/static/admin/sheet.json'
COUNTRIES_URL='http://localhost:3000/static/admin/countries.json'
SHEET_DATA_NAME="sheet.json"

GOOGLE_SHEET_URL=...

#* web3
APP_DOMAIN=...
NEXT_PUBLIC_CHAIN_ID=0x13881
MORALIS_API_KEY=...
NEXT_PUBLIC_ST_WALLET=...

#* Urls
NEXT_PUBLIC_ETHERSCAN_URL=https://mumbai.polygonscan.com/address/
NEXT_PUBLIC_TWITTER=https://twitter.com/strategy_tribe_
NEXT_PUBLIC_GITHUB=https://github.com/strategy-tribe/strategy-tribe

#*AWS
OUR_AWS_ACCESS_KEY=...
OUR_AWS_SECRET_KEY...
OUR_AWS_BUCKET_NAME...
OUR_AWS_REGION...

#*OneSignal
ONE_SIGNAL_URL="https://onesignal.com/api/v1/notifications"
ONE_SIGNAL_APP_KEY=...
ONE_SIGNAL_APP_ID=...
NEXT_PUBLIC_ONESIGNAL_APP_ID=...
